<%= form_with(model: editing, local: true) do |form| %>
  <%= render partial: "partials/error_messages", locals: { model: editing } %>


  <%= render partial: "partials/authors", locals: {name: "editing", publication: @editing} %>

  <hr>

  <%= render partial: 'partials/author_colleges', locals: { form: form } %>

  <%= render 'partials/publication_details', form: form, fields: [
    {label: {key: :work_title, text: 'Title of Submitted Work', options: {class: 'required'}}, input_field: {key: :work_title}},
    {label: {key: :other_title, text: 'Other Title'}, input_field: {key: :other_title}},
    {label: {key: :volume, text: 'Volume'}, input_field: {key: :volume}},
    {label: {key: :issue, text: 'Issue'}, input_field: {key: :issue}},
    {label: {key: :city, text: 'City'}, input_field: {key: :city}},
    {label: {key: :publisher, text: 'Publisher'}, input_field: {key: :publisher}},
    {label: {key: :publication_date, text: 'Publisher Date'}, input_field: {key: :publication_date}},
    {label: {key: :url, text: 'URL (if this publication is available online)'}, input_field: {key: :url}},
    {label: {key: :doi, text: 'DOI (Digital Object Identifier)'}, input_field: {key: :doi}},
    ] %>


  <%# Note: This may need to be changed since it will always use the logged in submitters id %>
  <%= hidden_field_tag "editing[submitter_id]", session[:submitter_id] || @editing.submitter_id %>

  <div class="actions">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
