<div class="row mt-4">
  <h1 class="pl-2">Editing<%= if session[:admin] then " (#{@editing_count})" end %></h1>
  <% if @editings.count < 3 && session[:admin] != true %>
    <div class="my-auto pl-3">
        <%= link_to 'New', new_editing_path, class: "btn btn-primary" %>
    </div>
  <% elsif params[:id].nil? && session[:admin]  %>
    <div class="my-auto pl-3">
      <%= link_to '<i class="fas fa-file-download icon-blue" data-toggle="tooltip" data-placement="top" title="Download CSV"></i>'.html_safe, csv_route("editings") %>
    </div>
    <div class=" ml-auto my-auto pl-3">
      <%= pagy_bootstrap_nav(@pagy_editings).html_safe %>
    </div>
  <% end %>
</div>

<% if @editings.count != 0 %>
<div class="row table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
      <th>Work Title</th>
      <th>Author(s)</th>
      <th>Author College(s)</th>
      <th>UC Department(s) or Division(s)</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @editings.each do |editing| %>
      <tr>
        <td><%= link_to shorten_long(editing.work_title), editing %></td>
        <td>
        <% authors_array(editing).each do |item| %>
        <div><%= item %></div>
        <% end %>
        </td>
        <td>
        <% college_array(editing).each do |item| %>
        <div><%= item %></div>
        <% end %>
        </td>
        <td><%= shorten_long(editing.uc_department) %></td>
        <td><%= link_to '<i class="fas fa-edit icon-black" data-toggle="tooltip" data-placement="top" title="Edit"></i>'.html_safe, edit_editing_path(editing) %></td>
        <td><%= link_to '<i class="fas fa-trash icon-red" data-toggle="tooltip" data-placement="top" title="Delete"></i>'.html_safe, editing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<% end %>