<div class="row mt-4">
  <div class="col-xs-auto pl-2">
    <h1 class="my-auto">Other Publications<%= if session[:admin] then " (#{@other_publication_count})" end %></h1>
  </div>
  <% if @other_publications.count < 3 && session[:admin] != true %>
    <div class="my-auto pl-3">
        <%= link_to 'New', new_other_publication_path, class: "btn btn-primary" %>
    </div>
  <% elsif params[:id].nil? && session[:admin]  %>
    <div class=" ml-auto my-auto pl-3">
      <%= pagy_bootstrap_nav(@pagy_other_publications).html_safe %>
    </div>
  <% end %>
</div>

<% if @other_publications.count != 0 %>
<div class="row table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
      <th>Author(s)</th>
      <th>UC College(s)</th>
      <th>UC Department or Division</th>
      <th>Work Title</th>
      <th>Other Title</th>
      <th>Volume</th>
      <th>Issue</th>
      <th>Page Numbers</th>
      <th>Publisher</th>
      <th>City</th>
      <th>Publication Date</th>
      <th>URL</th>
      <th>DOI</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @other_publications.each do |other_publication| %>
      <tr>
        <td><%= all_authors(other_publication) %></td>
        <td><%= all_colleges(other_publication.college_ids) %></td>
        <td><%= other_publication.uc_department %></td>
        <td><%= other_publication.work_title %></td>
        <td><%= other_publication.other_title %></td>
        <td><%= other_publication.volume %></td>
        <td><%= other_publication.issue %></td>
        <td><%= other_publication.page_numbers %></td>
        <td><%= other_publication.publisher %></td>
        <td><%= other_publication.city %></td>
        <td><%= other_publication.publication_date %></td>
        <td><%= other_publication.url %></td>
        <td><%= other_publication.doi %></td>
        <td><%= link_to 'Show', other_publication %></td>
        <td><%= link_to 'Edit', edit_other_publication_path(other_publication) %></td>
        <td><%= link_to 'Destroy', other_publication, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<% end %>