<div class="container offset-footer">

  <% if notice %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
  <% end %>

  <div class="row">
    <h1>Other Publications</h1>
</div>

  <div class="row table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
        <th>Author(s)</th>
        <th>UC College(s)</th>
        <th>UC Department or Division</th>
        <th>Work title</th>
        <th>Other title</th>
        <th>Volume</th>
        <th>Issue</th>
        <th>Page numbers</th>
        <th>Publisher</th>
        <th>City</th>
        <th>Publication date</th>
        <th>Url</th>
        <th>Doi</th>
        <th>Submitter</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @other_publications.each do |other_publication| %>
        <tr>
          <td><%= all_authors(other_publication) %></td>
          <td><%= all_colleges(other_publication.college_ids) %></td>
          <td><%= other_publication.uc_department %></td>
          <td><%= other_publication.work_title %></td>
          <td><%= other_publication.other_title %></td>
          <td><%= other_publication.volume %></td>
          <td><%= other_publication.issue %></td>
          <td><%= other_publication.page_numbers %></td>
          <td><%= other_publication.publisher %></td>
          <td><%= other_publication.city %></td>
          <td><%= other_publication.publication_date %></td>
          <td><%= other_publication.url %></td>
          <td><%= other_publication.doi %></td>
          <td><%= other_publication.submitter_id %></td>
          <td><%= link_to 'Show', other_publication %></td>
          <td><%= link_to 'Edit', edit_other_publication_path(other_publication) %></td>
          <td><%= link_to 'Destroy', other_publication, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>

  <div class="row">
    <%= link_to 'New Other Publication', new_other_publication_path, class: "btn btn-primary" %>
  </div>

</div>