<p id="notice"><%= notice %></p>

<p>
  <strong>Author first name:</strong>
  <%= @other_publication.author_first_name %>
</p>

<p>
  <strong>Author last name:</strong>
  <%= @other_publication.author_last_name %>
</p>

<p>
  <strong>College ids:</strong>
  <%= @other_publication.college_ids %>
</p>

<p>
  <strong>Uc department:</strong>
  <%= @other_publication.uc_department %>
</p>

<p>
  <strong>Work title:</strong>
  <%= @other_publication.work_title %>
</p>

<p>
  <strong>Other title:</strong>
  <%= @other_publication.other_title %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @other_publication.volume %>
</p>

<p>
  <strong>Issue:</strong>
  <%= @other_publication.issue %>
</p>

<p>
  <strong>Page numbers:</strong>
  <%= @other_publication.page_numbers %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @other_publication.publisher %>
</p>

<p>
  <strong>City:</strong>
  <%= @other_publication.city %>
</p>

<p>
  <strong>Publication date:</strong>
  <%= @other_publication.publication_date %>
</p>

<p>
  <strong>Url:</strong>
  <%= @other_publication.url %>
</p>

<p>
  <strong>Doi:</strong>
  <%= @other_publication.doi %>
</p>

<p>
  <strong>Submitter:</strong>
  <%= @other_publication.submitter_id %>
</p>

<%= link_to 'Edit', edit_other_publication_path(@other_publication) %> |
<%= link_to 'Back', other_publications_path %>
