<div class="container offset-footer">
  <div class="row pl-2">
    <h1>Show Other Publication</h1>
  </div>

  <div class="row pl-2">
    <p>Your publication's details are displayed below. Click <%= link_to "here", publications_path %> to return to your list of publications.</p>
  </div>

  <div class="row table-responsive">
    <table class="table table-hover">
      <tbody>
        <tr>
          <th scope="row">Author(s):</th>
          <td>
          <%= all_authors(@other_publication) %>
          </td>
        </tr>

        <tr>
          <th scope="row">Author College(s):</th>
          <td>
            <%= all_colleges(@other_publication.college_ids) + check_other_college(@other_publication) %>
          </td>
        </tr>

        <tr>
          <th scope="row">UC Department(s) or Division(s):</th>
          <td><%= @other_publication.uc_department %></td>
        </tr>

        <tr>
          <th scope="row">Title of Submitted Work:</th>
          <td><%= @other_publication.work_title %></td>
        </tr>

        <tr>
          <th scope="row">Other Title:</th>
          <td><%= @other_publication.other_title %></td>
        </tr>

        <tr>
          <th scope="row">Volume:</th>
          <td><%= @other_publication.volume %></td>
        </tr>

        <tr>
          <th scope="row">Issue:</th>
          <td><%= @other_publication.issue %></td>
        </tr>

        <tr>
          <th scope="row">Page Numbers:</th>
          <td><%= @other_publication.page_numbers %></td>
        </tr>

        <tr>
          <th scope="row">Publisher:</th>
          <td><%= @other_publication.publisher %></td>
        </tr>

        <tr>
          <th scope="row">City:</th>
          <td><%= @other_publication.city %></td>
        </tr>

        <tr>
          <th scope="row">Publication Date:</th>
          <td><%= @other_publication.publication_date %></td>
        </tr>

        <tr>
          <th scope="row">URL (if this publication is available online):</th>
          <td><%= @other_publication.url %></td>
        </tr>

        <tr>
          <th scope="row">DOI (Digital Object Identifier):</th>
          <td><%= @other_publication.doi %></td>
        </tr>

        <% if session[:admin] %>
        
          <tr>
            <th scope="row">Submitter ID:</th>
            <td><%= link_to link_to @submitter.id.to_s, publications_id(@submitter.id) %></td>
          </tr>
          <tr>
            <th scope="row">Submitter Name:</th>
            <td><%= submitter_name(@submitter) %></td>
          </tr>

        <% end %>
      </tbody>
      </table>
    </div>
    
    <div class="row">
      <%= link_to 'Edit', edit_other_publication_path(@other_publication), class: "btn btn-primary" %>
    </div>
