<%= form_with(model: play, local: true) do |form| %>
  <% if play.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading"><%= pluralize(play.errors.count, "error") %> found:</h4>
      <hr>
      <% play.errors.full_messages.each do |message| %>
        <p class="mb-0"><%= message %></p>
      <% end %>
    </div>
  <% end %>

  <%= render partial: "partials/author", locals: {name: "play", publication: @play} %>
  <hr>

  <%= render partial: "partials/publications_colleges", locals: {form: form} %>
  <hr>

  <div class="form-row">
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label(:uc_department, "UC Department(s) or Division(s)") %>
        <%= form.text_field :uc_department, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :work_title, 'Title of Submitted Work', class: "required" %>
        <%= form.text_field :work_title, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :other_title, 'Other Title' %>
        <%= form.text_field :other_title, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :publisher %>
        <%= form.text_field :publisher, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :city %>
        <%= form.text_field :city, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="form-row">  
    <div class="form-group col-md-6">
      <%= form.label :publication_date, 'Publication Date' %>
      <%= form.text_field :publication_date, class: "form-control" %>
    </div>
  </div>  

  <div class="form-row">  
    <div class="form-group col-md-6">
      <%= form.label :url, 'URL (if this publication is available online)' %>
      <%= form.text_field :url, class: "form-control" %>
    </div>
    <div class="form-group col-md-6">
      <%= form.label :doi, 'DOI (Digital Object Identifier)' %>
      <%= form.text_field :doi, class: "form-control" %>
    </div>
  </div>

  <%= hidden_field_tag "play[submitter_id]", session[:submitter_id] || @play.submitter_id %>

  <div class="actions">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
