<div class="row mt-4">
  <div class="col-xs-auto pl-2">
    <h1 class="my-auto">Plays<%= if session[:admin] then " (#{@play_count})" end %></h1>
  </div>
  <% if @plays.count < 3 && session[:admin] != true %>
    <div class="my-auto pl-3">
        <%= link_to 'New', new_play_path, class: "btn btn-primary" %>
    </div>
  <% elsif params[:id].nil? && session[:admin]  %>
    <div class=" ml-auto my-auto pl-3">
      <%= pagy_bootstrap_nav(@pagy_plays).html_safe %>
    </div>
  <% end %>
</div>

<% if @plays.count != 0 %>
<div class="row table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
      <th>Work Title</th>
      <th>Author(s)</th>
      <th>Author College(s)</th>
      <th>UC Department(s) or Division(s)</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @plays.each do |play| %>
      <tr>
        <td><%= link_to shorten_long(play.work_title), play %></td>
        <td>
        <% authors_array(play).each do |item| %>
        <div><%= item %></div>
        <% end %>
        </td>
        <td>
        <% college_array(play).each do |item| %>
        <div><%= item %></div>
        <% end %>
        </td>
        <td><%= shorten_long(play.uc_department) %></td>
        <td><%= link_to '<i class="fas fa-edit icon-black" data-toggle="tooltip" data-placement="top" title="Edit"></i>'.html_safe, edit_play_path(play) %></td>
        <td><%= link_to '<i class="fas fa-trash icon-red" data-toggle="tooltip" data-placement="top" title="Delete"></i>'.html_safe, play, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<% end %>