<%= form_with(model: artwork, local: true) do |form| %>
  <%= render partial: "partials/error_messages", locals: { model: artwork } %>

  <%= render partial: "partials/authors", locals: {name: "artwork", publication: @artwork} %>

  <hr>

  <%= render partial: 'partials/author_colleges', locals: { form: form } %>

  <%= render 'partials/publication_details', form: form, fields: [
    {label: {key: :work_title, text: 'Title of Submitted Work', options: {class: 'required'}}, input_field: {key: :work_title}},
    {label: {key: :other_title, text: 'Other Title'}, input_field: {key: :other_title}},
    {label: {key: :date, text: 'Date of Composition'}, input_field: {key: :date}},
    ] %>
    
<%= hidden_field_tag "artwork[submitter_id]", session[:submitter_id] || @artwork.submitter_id %>

  <div class="actions">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
