<div class="form-group col-md-6">
  <span role="heading" aria-level="2" >Author College(s)</span>
  <br />
  <%= form.collection_check_boxes :college_ids, College.all, :id, :name do |c| %>
    <div class="form-check">
      <%= c.check_box class: "form-check-input", id: "college_#{c.object.id}"  %>
      <%= c.label class: "form-check-label", for: "college_#{c.object.id}" %>
    </div>
  <% end %>
</div>

<div id="other_college_group" class="form-group col-md-6">
  <%= form.label :other_college, 'Other College' %>
  <%= form.text_field :other_college, class: "form-control" %>
</div>

<div class="form-group col-md-6">
  <%= form.label(:uc_department, "UC Department(s) or Division(s)") %>
  <%= form.text_field :uc_department, class: "form-control" %>
</div>
