<div class="form-group col-md-6">
  <%= form.label(:college_ids, author_or_artist_label + " College(s)") %><br />
  <%= form.collection_check_boxes :college_ids, College.all, :id, :name do |c| %>
    <div class="form-check">
      <%= c.check_box class: "form-check-input" %>
      <%= c.label class: "form-check-label" %>
    </div>
  <% end %>
</div>

<div class="form-row">
  <div id="other_college_group" class="form-group col-md-6">
    <%= form.label :other_college, 'Other College' %>
    <%= form.text_field :other_college, class: "form-control" %>
  </div>
</div>