<div class="container offset-footer">

  <div class="row pl-2">
    <h1>Show Book Chapter</h1>
  </div>

  <div class="row pl-2">
    <p>Your publication's details are displayed below. Click <%= link_to "here", publications_path %> to return to your list of publications.</p>
  </div>

  <div class="row table-responsive">
    <table class="table table-hover">
      <tbody>
        <tr>
          <th scope="row">Author(s):</th>
          <td>
          <%= all_authors(@book_chapter) %>
          </td>
        </tr>

        <tr>
          <th scope="row">UC College(s):</th>
          <td><%= all_colleges(@book_chapter.college_ids) + check_other_college(@book_chapter) %></td>
        </tr>

        <tr>
          <th scope="row">UC Department(s) or Division(s):</th>
          <td><%= @book_chapter.uc_department %></td>
        </tr>

        <tr>
          <th scope="row">Title of Submitted Work:</th>
          <td><%= @book_chapter.work_title %></td>
        </tr>

        <tr>
          <th scope="row">Other Title:</th>
          <td><%= @book_chapter.other_title %></td>
        </tr>

        <tr>
          <th scope="row">Publisher:</th>
          <td><%= @book_chapter.publisher %></td>
        </tr>

        <tr>
          <th scope="row">City:</th>
          <td><%= @book_chapter.city %></td>
        </tr>

        <tr>
          <th scope="row">Publication Date:</th>
          <td><%= @book_chapter.publication_date %></td>
        </tr>

        <tr>
          <th scope="row">Page Numbers:</th>
          <td><%= @book_chapter.page_numbers %></td>
        </tr>

        <tr>
          <th scope="row">URL (if this publication is available online):</th>
          <td><%= @book_chapter.url %></td>
        </tr>

        <tr>
          <th scope="row">DOI (Digital Object Identifier):</th>
          <td><%= @book_chapter.doi %></td>
        </tr>
      </tbody>
      </table>
    </div>

    <div class="row">
      <%= link_to 'Edit', edit_book_chapter_path(@book_chapter), class: "btn btn-primary" %>
    </div>
