<div class="container offset-footer">

  <% if notice %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
  <% end %>

  <div class="row pl-2">
    <h1>Show Other Publication</h1>
  </div>

  <div class="row table-responsive">
    <table class="table table-hover">
      <tbody>
        <tr>
          <th scope="row">Author(s):</th>
          <td>
          <%= all_authors(@book) %>
          </td>
        </tr>

        <tr>
          <th scope="row">UC College(s):</th>
          <td><%= list_colleges(@book) %></td>
        </tr>

        <tr>
          <th scope="row">UC Department or Division:</th>
          <td><%= @book.uc_department %></td>
        </tr>

        <tr>
          <th scope="row">Work title:</th>
          <td><%= @book.work_title %></td>
        </tr>

        <tr>
          <th scope="row">Other title:</th>
          <td><%= @book.other_title %></td>
        </tr>

        <tr>
          <th scope="row">Publisher:</th>
          <td><%= @book.publisher %></td>
        </tr>

        <tr>
          <th scope="row">City:</th>
          <td><%= @book.city %></td>
        </tr>

        <tr>
          <th scope="row">Publication date:</th>
          <td><%= @book.publication_date %></td>
        </tr>

        <tr>
          <th scope="row">Url:</th>
          <td><%= @book.url %></td>
        </tr>

        <tr>
          <th scope="row">Doi:</th>
          <td><%= @book.doi %></td>
        </tr>

        <tr>
          <th scope="row">Submitter:</th>
          <td><%= @book.submitter_id %></td>
        </tr>
      </tbody>
      </table>
    </div>

    <div class="row">
      <%= link_to 'Edit', edit_book_path(@book), class: "btn btn-primary" %>
    </div>