<%= form_with(model: film, local: true) do |form| %>
  <% if film.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading"><%= pluralize(film.errors.count, "error") %> found:</h4>
      <hr>
      <% film.errors.full_messages.each do |message| %>
        <p class="mb-0"><%= message %></p>
      <% end %>
    </div>
  <% end %>

  <%= render partial: "partials/author", locals: {name: "film", publication: @film} %>
  <hr>

  <%= render partial: "partials/publications_colleges", locals: {form: form} %>
  <hr>

  <div class="form-row">
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label(:uc_department, "UC Department(s) or Division(s)") %>
        <%= form.text_field :uc_department, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :work_title, 'Title of Submitted Work', class: "required" %>
        <%= form.text_field :work_title, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :other_title, 'Other Title' %>
        <%= form.text_field :other_title, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :director %>
        <%= form.text_field :director, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :producer %>
        <%= form.text_field :producer, class: "form-control" %>
      </div>
    </div>
  </div>
    
  <div class="form-row">
    <div class="form-group">
          <%= form.label :release_year, 'Release Year' %>
          <%= form.text_field :release_year, class: "form-control" %>
    </div>
  </div>  

  <%= hidden_field_tag "film[submitter_id]", session[:submitter_id] || @film.submitter_id %>

  <div class="actions">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
