<%= form_with(model: film, local: true) do |form| %>
  <%= render partial: "partials/error_messages", locals: { model: film } %>

  <%= render partial: "partials/authors", locals: {name: "film", publication: @film} %>

  <hr>

  <%= render partial: 'partials/author_colleges', locals: { form: form } %>

  <%= render 'partials/publication_details', form: form, fields: [
    {label: {key: :work_title, text: 'Title of Submitted Work', options: {class: 'required'}}, input_field: {key: :work_title}},
    {label: {key: :other_title, text: 'Other Title'}, input_field: {key: :other_title}},
    {label: {key: :director, text: 'Director'}, input_field: {key: :director}},
    {label: {key: :producer, text: 'Producer'}, input_field: {key: :producer}},
    {label: {key: :release_year, text: 'Release Year'}, input_field: {key: :release_year}},
    ] %>


  <%= hidden_field_tag "film[submitter_id]", session[:submitter_id] || @film.submitter_id %>

  <div class="actions">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
