<div class="row">
  <h1 class="pl-2">Submitters <%= "(#{@submitter_count})" %></h1>
  <div class="my-auto pl-3">
    <%= link_to '<i class="fas fa-file-download icon-blue" data-toggle="tooltip" data-placement="top" title="Download CSV"></i>'.html_safe, csv_route("submitters") %>
  </div>
  <div class="ml-auto my-auto pl-3">
    <%= pagy_bootstrap_nav(@pagy_submitters).html_safe %>
  </div>
</div>

<div class="row table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>UC College</th>
        <th>UC Department(s) or Division(s)</th>
        <th>Email address</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @submitters.each do |submitter| %>
        <tr>
          <td><%= link_to submitter.id.to_s, publications_id(submitter.id)  %></td>
          <td><%= link_to (Truncato.truncate "#{submitter_name(submitter)}", max_length: 20), submitter %></td>
          <td><%= college_name(submitter.college) %></td>
          <td><%= shorten_long(submitter.department) %></td>
          <td><%= mail_to submitter.email_address, (Truncato.truncate "#{submitter.email_address}", max_length: 16) %></td>
          <td><%= link_to '<i class="fas fa-edit icon-black" data-toggle="tooltip" data-placement="top" title="Edit"></i>'.html_safe, edit_submitter_path(submitter) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>