<div class="container offset-footer">

  <% if notice %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
  <% end %>

  <div class="row">
    <h1>Submitters</h1>
  </div>

  <div class="row table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>First name</th>
          <th>Last name</th>
          <th>UC College</th>
          <th>UC Department or Division</th>
          <th>Mail Location</th>
          <th>Phone number</th>
          <th>Email address</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @submitters.each do |submitter| %>
          <tr>
            <td><%= submitter.first_name %></td>
            <td><%= submitter.last_name %></td>
            <td><%= submitter.college %></td>
            <td><%= submitter.department %></td>
            <td><%= submitter.mailing_address %></td>
            <td><%= submitter.phone_number %></td>
            <td><%= submitter.email_address %></td>
            <td><%= link_to 'Show', submitter %></td>
            <td><%= link_to 'Edit', edit_submitter_path(submitter) %></td>
            <td><%= link_to 'Destroy', submitter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="row">
    <%= link_to 'New Submitter', new_submitter_path, class: "btn btn-primary" %>
  </div>

</div>