<%= form_with(model: college, local: true) do |form| %>
  <% if college.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading"><%= pluralize(college.errors.count, "error") %> found:</h4>
      <hr>
      <ul>
      <% college.errors.full_messages.each do |message| %>
        <p class="mb-0"><%= message %></p>
      <% end %>
    </div>
  <% end %>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= form.label :name %>
      <%= form.text_field :name, required: true, class: "form-control" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>