<%= form_with(model: college, local: true) do |form| %>
  <%= render partial: "partials/error_messages", locals: { model: college } %>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= form.label :name %>
      <%= form.text_field :name, required: true, class: "form-control" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>