<%= form_with(model: public_performance, local: true) do |form| %>
  <%= render partial: "partials/error_messages", locals: { model: public_performance } %>

  <%= render partial: "partials/authors", locals: {name: "public_performance", publication: @public_performance} %>
  <hr>

  <%= render partial: 'partials/author_colleges', locals: { form: form } %>

  <%= render 'partials/publication_details', form: form, fields: [
    {label: {key: :work_title, text: 'Title of Submitted Work', options: {class: 'required'}}, input_field: {key: :work_title}},
    {label: {key: :other_title, text: 'Other Title'}, input_field: {key: :other_title}},
    {label: {key: :location, text: 'Location (of showing/performance)'}, input_field: {key: :location}},
    {label: {key: :time, text: 'Time'}, input_field: {key: :time}},
    {label: {key: :date, text: 'Date'}, input_field: {key: :date}},
    ] %>

  <%= hidden_field_tag "public_performance[submitter_id]", session[:submitter_id] || @public_performance.submitter_id %>

  <div class="actions">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
