<div class="row mt-4">
  <h1 class="pl-2">Physical Media<%= if session[:admin] then " (#{@physical_medium_count})" end %></h1>
  <% if @physical_media.count < 3 && session[:admin] != true %>
    <div class="my-auto pl-3">
        <%= link_to 'New', new_physical_medium_path, class: "btn btn-primary" %>
    </div>
  <% elsif params[:id].nil? && session[:admin]  %>
    <div class="my-auto pl-3">
      <%= link_to '<i class="fas fa-file-download icon-blue" data-toggle="tooltip" data-placement="top" title="Download CSV"></i>'.html_safe, csv_route("physical_media") %>
    </div>
    <div class=" ml-auto my-auto pl-3">
      <%= pagy_bootstrap_nav(@pagy_physical_media).html_safe %>
    </div>
  <% end %>
</div>

<% if @physical_media.count != 0 %>
<div class="row table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
      <th>Title of Submitted Work</th>
      <th>Author(s)</th>
      <th>Author College(s)</th>
      <th>UC Department(s) or Division(s)</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @physical_media.each do |physical_medium| %>
      <tr>
        <td><%= link_to shorten_long(physical_medium.work_title), physical_medium %></td>
        <td>
        <% authors_array(physical_medium).each do |item| %>
        <div><%= item %></div>
        <% end %>
        </td>
        <td>
        <% college_array(physical_medium).each do |item| %>
        <div><%= item %></div>
        <% end %>
        </td>
        <td><%= shorten_long(physical_medium.uc_department) %></td>
        <td><%= link_to '<i class="fas fa-edit icon-black" data-toggle="tooltip" data-placement="top" title="Edit"></i>'.html_safe, edit_physical_medium_path(physical_medium) %></td>
        <td><%= link_to '<i class="fas fa-trash icon-red" data-toggle="tooltip" data-placement="top" title="Delete"></i>'.html_safe, physical_medium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<% end %>
