<%= form_with(model: digital_project, local: true) do |form| %>
  <%= render partial: "partials/error_messages", locals: { model: digital_project } %>


  <%= render partial: "partials/authors", locals: {name: "digital_project", publication: @digital_project} %>

  <hr>

  <%= render partial: 'partials/author_colleges', locals: { form: form } %>

  <%= render 'partials/publication_details', form: form, fields: [
    {label: {key: :work_title, text: 'Title of Submitted Work', options: {class: 'required'}}, input_field: {key: :work_title}},
    {label: {key: :other_title, text: 'Other Title'}, input_field: {key: :other_title}},
    {label: {key: :name_of_site, text: 'Name of Site'}, input_field: {key: :name_of_site}},
    {label: {key: :name_of_affiliated_organization, text: 'Name of Affiliated Organization'}, input_field: {key: :name_of_affiliated_organization}},
    {label: {key: :version, text: 'Version'}, input_field: {key: :version}},
    {label: {key: :publication_date, text: 'Date Made Live'}, input_field: {key: :publication_date}},
    {label: {key: :url, text: 'URL (if this publication is available online)'}, input_field: {key: :url}},
    {label: {key: :doi, text: 'DOI (Digital Object Identifier)'}, input_field: {key: :doi}}
    ] %> 


<%= hidden_field_tag "digital_project[submitter_id]", session[:submitter_id] || @digital_project.submitter_id %>

  <div class="actions">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
